.header-holder {
	position: relative;
	background-color: $pink-gray;
	margin-bottom: 120px;

	@media (max-width: 768px)  {
		margin-bottom: 20px;
	}

	.container {

      padding: 0 #{$grid-gutter-width / 2};
	}

	@media (min-width: 1200px) {
		padding-top: 30px;
	}
}

.header {


	padding: 15px;
	background: $black;





	@media (min-width: 768px)  {
		padding: 0;

	}
	@media (max-width: 768px)  {
		margin: 0 -15px;

	}



}

nav {
	display: inline-block;
	vertical-align: top;

	

	@media (min-width: 768px) {
		display: block;
		overflow: hidden;
	}

	&:hover {

		.nav {
			transform: translateX(0);
		}
	}
}

.nav-opener {
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 50px;
	position: relative;
	border: 2px solid white;
	border-radius: 4px;

	&:before,
	&:after,
	span {
		height: 4px;
		width: 30px;
		position: absolute;
		left: 8px;
		background: white;
		border-radius: 2px;
	}

	&:before,
	&:after {
		content: '';
		transition: .3s transform;
	}


	&:before {
		top: 10px;
	}

	&:after {
		top: 34px;
	}

	span {
		top: 22px;
		transition: .3s opacity;
	}

	&:hover {
		span {
			opacity: 0;
		}

		&:before {
			transform: rotate(45deg) translate(8px, 8px);
		}

		&:after {
			transform: rotate(-45deg) translate(8px, -8px);
		}

		@media (min-width: 768px) {
			
			+ .nav {
				max-height: 50vh;
			}
		}
	}

	@media (min-width: 768px) and (orientation: landscape) {
		display: none;
	}
}

.nav {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	background: $black;
	transform: translateX(-100%);
	transition: .3s transform;
	list-style: none;
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;

	@media (min-width: 768px) {
		position: static;
		transform: none;
		max-height: 0;
		transition: .3s max-height;
	}

	@media (min-width: 768px) and (orientation: landscape) {
		display: flex;
		justify-content: center;
		max-height: none;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 15px;
		color: white;
		border-bottom: 2px solid white;
		transition: .3s background-color;

		@media (min-width: 768px) and (orientation: landscape) {
			border-bottom: 0;
		}

		&.active,
		&:hover {

			background: $red;
		}
	}

	li {
		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
}


.intro {

	.container {
		padding: 0 15px;
	}
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$grid-gutter-width / 2};
}

.col {
  padding: 0 #{$grid-gutter-width / 2};
  flex-grow: 0;
  flex-shrink: 0;
}

@for $i from 1 through $grid-count {
  .col-#{$i} {
    width: 100% / $grid-count * $i;
  }
}


@each $item, $breakpoint in $breakpoints {
  @media all and (min-width: $breakpoint) {
    @for $i from 1 through $grid-count {
      .col-#{$item}-#{$i} {
        width: 100% / $grid-count * $i;
      }
    }
  }
}

.header-content{

	padding: 20px 0;

	h1 {

		font-size: 30px;
		color: black;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 900;
		margin-bottom: 10px;
	}

	p {
		opacity: 0.7;
		font-size: 16px;
	}



	@media (min-width: 768px) and (orientation: landscape) {

		padding: 50px 0;


		h1 {

			font-size: 56px;
			line-height: 1.2;
			font-weight: 900;
			margin-bottom: 30px;
		}
	}
}

.btn{
  border-style: solid;
  border-radius: 9px;
  background-color: transparent;
  border-color: $red;
  padding: 16px 60px;
  color: $red;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;

  &:hover{
    background-color: $red;
    color: #fff;
	transition: .7s;
  }
}

.video-holder{
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	background-color: #c4c0b1;



	@media (max-width: 768px)  {

		display: none;

	}
}

.holder-btn{

  	padding-bottom: 30px;

	@media (min-width: 768px) and (orientation: landscape){

		padding-bottom: 120px;
	}

}